<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout "
      style="position: relative; width:#width#; height:#height#; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
  </span>
  <center class="widget-name">
    <a href="#eqLink#" style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></a>
  </center>

  <div class="verticalAlign">
    <center>

      #icoImage#

    </center>
  </div>

  <script type="text/javascript">
    //change theme event handler for images:
    $('body').on('changeThemeEvent', function (event, theme) {
      var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
      if (theme == 'Light') {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      } else {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_dark.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_dark.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_dark.png')
      }
    })
    //set icons to light:
    if ($('body')[0].hasAttribute('data-theme')) {
      if ($('body').attr('data-theme').endsWith('Light')) {
        var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      }
    }

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_up').on('click', function () {
      jeedom.cmd.execute({id: '#set_plus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) + 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_down').on('click', function () {
      jeedom.cmd.execute({id: '#set_minus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) - 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'});
    });
  </script>
</div>
